
{% if todos %}
    <ul class="list-group my-5">
        
        {% for todo in todos %}            
            <li class=" my-1 border rounded p-2 row">
                <div class="col-lg-10">
                    {{todo.note}}
                </div>
                <div class="col-lg-2">
                    <button class="btn btn-danger btn-sm ">Delete</button>
                </div>
            </li>
        {% endfor %}
            

    </ul>
{% else %}

    <div class="my-5">
        <p>You Do not have any ToDo</p>
    </div>

{% endif %}