
{% if todos %}
    <ul class="list-group my-5">
        
        {% for todo in todos %}            
            <li class=" my-1 border rounded p-2 row">
                <div class="col-lg-10">
                    <p class=" {% if todo.done %} done {% endif %}">{{todo.note}}</p>
                </div>
                <div class="col-lg-2">
                    <button class="btn btn-success btn-sm" hx-get="{% url 'todo_done' todo.id %}" hx-target='#todoList'>Completed</button>
                    <button class="btn btn-danger btn-sm" hx-get="{% url 'todo_delete' todo.id %}" hx-target='#todoList'>Delete</button>
                </div>
            </li>
        {% endfor %}
            

    </ul>
{% else %}

    <div class="my-5">
        <p>You Do not have any ToDo</p>
    </div>

{% endif %}